:root {
    --font-size: 5vh;
}

body {
    margin: 0;
    position: absolute;
    height: 100%;
}

.params {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size);
    position: absolute;
    left: 0;
    color: white;
    bottom: 2%;
    width: 100%;
}

.params ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0;
}

.params ul li {
    /*margin: 0 10px 0;*/
}

@media (orientation: portrait){
    :root {
        --font-size: 5vw;
    }
}